.tts-settings
  &-button
    font-size 1.25rem
    color $Gray232
    background-color $Gray72
    border 2px solid transparent
    border-radius 4px
    transition background-color 150ms
    display flex
    justify-content center
    align-items center
    padding 0.5rem
    margin-left 0.5rem
    &:hover
      background-color $Gray96
    &:active
      background-color $Gray64
    &[data-open="true"]
      border-color $Gray112

  &-section
    width 100%
    margin-bottom 1rem
    > *
      padding-left 1rem
      padding-right 1rem
    &:not(:first-child)
      margin-top 2.5rem
    &-header
      background-color $Gray64
      font-size 1.125rem
      font-weight 600
      border-bottom 1px solid $Gray96
      padding 1rem
      margin-bottom 1rem

  &-item
    display flex
    align-items center
    width 100%
    &:not(:last-child)
      margin-bottom 1rem

    label&
      cursor pointer

    &, label&.checkbox
      justify-content space-between

    &, &-control select
      height $InputHeight

  &-history &-item-control
    display flex
    justify-content flex-end
    align-items center
    input
      border none
      width 10rem
      margin 0
      margin-left 0.75rem
      padding 0

  &-insert &-item-control
    display flex
    justify-content flex-end
    align-items center
    .radio-button
      margin-left 1rem

  &-modal
    min-width 32rem
    .modal-body
      padding 0

