.tts-container
  display flex
  justify-content center
  align-items flex-start
  margin auto

.tts-submit-status
  display flex
  justify-content center
  align-items center

.tts-submit-status .fa-circle-notch
  color $statusBlue
  animation spinner 1.5s linear
  animation-iteration-count infinite

.tts-submit-status .fa-check-circle
  color $statusGreen

.tts-submit-status .fa-exclamation-circle
  color $statusRed

.tts-col
  position relative
  &-header
    height 2.5rem
    background-color $Gray48
    position sticky
    top 0
    z-index 2
    &, &.row
      margin 0.75rem 0
    h4
      margin 0

.header
  &-right
    display flex
    flex-direction row-reverse
    justify-content flex-end
    align-items center
    button
      margin-left 0.5rem

  &-button
    font-size 1.25rem
    color $Gray232
    background-color $Gray72
    border 2px solid transparent
    border-radius 4px
    transition background-color 150ms
    display flex
    justify-content center
    align-items center
    padding 0.5rem
    margin-left 0.5rem
    width 2.5rem
    height @width
    &:hover
      background-color $Gray96
    &:active
      background-color $Gray64
    &[data-open="true"]
      border-color $Gray112
