.tts-container
  display flex
  justify-content center
  align-items flex-start
  margin auto

.tts-submit-status
  display flex
  justify-content center
  align-items center

.tts-submit-status .fa-circle-notch
  color $statusBlue
  animation spinner 1.5s linear
  animation-iteration-count infinite

.tts-submit-status .fa-check-circle
  color $statusGreen

.tts-submit-status .fa-exclamation-circle
  color $statusRed
