.search-bar
  display flex
  justify-content flex-start
  align-items center
  border-top 2px solid transparent
  border-bottom @border-top
  height 100%
  position absolute
  left 0
  top 0
  z-index 3
  &, & *
    transition all 250ms ease-out, color 100ms ease, background-color 100ms ease, border-color 100ms ease
  &-input
    background-color $Gray48
    border none
    border-radius 0
    height 100%
  &-toggle
    width 2.5rem
    flex 0 0 2.5rem
    margin-right -2.5rem

  &-toggle,
  &-close
    z-index 2

  &[data-active="false"]
    width 2.5rem
    flex 0 0 2.5rem
    margin-right 0.5rem
  &[data-active="false"] &
    &-input
    &-close.icon-button
      overflow hidden
      padding-left 0
      padding-right 0
      margin-left 0
      margin-right 0
      width 0
      flex 1 1 0
      transition-duration 200ms, 100ms, 100ms, 100ms
      transition-timing-function ease-in, ease, ease, ease
    &-close.icon-button
      margin-left 2.5rem
  &[data-active="true"]
    border-bottom-color $Gray96
    width 100%
    flex-basis 100%
    margin-right 0
    z-index 10
  &[data-active="true"] &
    &-toggle
      pointer-events none
    &-input
      flex 1 1 100%
      padding-left 3rem
      padding-right 3rem
    &-close
      width 2.5rem
      flex 1 1 2.5rem
      margin-left -2.5rem

