textarea, input
  font-family 'Helvetica Neue', arial, sans-serif
  color $Gray248
  background-color $Gray72
  border-radius 4px
  padding 0.25rem
  &:focus
    background-color $Gray64

textarea.invisible
  visibility visible

textarea.clipboard-input
  position fixed
  top 50%
